    /* The alert message box */
.mensagem-alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    font-family: arial;
}
/* Buttons color */
.alert-buy{ background-color: #f44336; }
.alert-template{ background-color:#12BD40; }
.alert-contact{ background-color:#147BC5; }

/* The close button */
.mensage-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.mensage-close:hover {
    color: black;
}
