                .table-all{ font-family: arial;
background-image: url("https://www.nordmograph.com/images/phocagallery/wallpapers/thumbs/phoca_thumb_l_nordmograph.com_wallpaper16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

        .title-table{ color:white; padding:10px; font-weight:400; font-size:50px; border-bottom:1px solid #ccc;  }
        .table-all h2{ color:white; font-size: 15px; padding:10px 5px;  }
        .table-content{ clear: both;  height: 710px; display: flex; align-items: center; flex-direction: column; font-family: arial; }
        .table{ width:90%; margin: 0px 5px; background-color:  white;}

        th{ padding:10px 5px; font-size:20px; background-color:#045AA1; color:white; }
        td{padding:10px 5px;}
        
        /*DESCRIPTION DOMINIO*/
    a.description{
  position:static; 
  color:#039;
  text-decoration:none;
  cursor:help; 
  z-index:24;
  }
  a.description:hover{
  background:transparent;
  color:#f00;
  z-index:25; 
  }
  a.description span{display: none}
  a.description:hover span{ 
  display:block;
  position:absolute;
  width:230px; 
  top:3em;
  text-align:justify;
  transition: all .4s;
  left:0;
  font: 12px arial, verdana, helvetica, sans-serif; 
  padding:5px 5px;
  border:1px solid #999;
  background:#e0ffff; 
  color:#000;
  }

        /*BUTTONS*/
.Open-button{ border-radius: 4px; background: #1f93a3; color:white; padding: 10px; border:1px solid #1f93a3; font-family: arial; transition: all .4s; display: inline-block; font-size: 15px; cursor: pointer; }
