html, body{ height:100%; }

.profile-background{ background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5b/bc/11/5bbc11d7852485126c992135005efd9d.png");
height: 100%; background-position: center; background-repeat: no-repeat; background-size: percentage; 
display:flex; flex-direction:column; justify-content:center; align-items:center; color:white; }

.profile-all{ max-width:1440px; margin:0px auto; background-repeat:no-repeat; color:black; }

.profile-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 0px 5px;
    }

.container-profile {
    padding: 0px 16px;
}

.description {
    color: #272727;
    font-size: 18px;
    margin:5px 0px;
}
        
.container-profile h1{ border-bottom: 1px solid #d3d3d3; }

/*BUTTONS*/

.display-container{ background: #BAB9B9; color: white; position:absolute; padding: 10px;  font-family: arial; }

.Open-button{ border-radius: 4px; background: #1f93a3; color:white; border:0px; font-family: arial; transition: all .4s; display: inline-block; cursor: pointer; margin: 2px; }

.button-close{  background: #C70D0D; color:white; padding: 15px; float:right; margin-right:-10px; font-family: arial; margin-top: -58px; }

.fade { -webkit-animation-name: fade; -webkit-animation-duration: 2s; animation-name: fade; animation-duration: 2s; }

@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1} }

@keyframes fade { from {opacity: .4}  to {opacity: 1} }
            
.button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '✉';
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
