.profile-background{ background:url(https://1.bp.blogspot.com/-J3RJpVaLv8Y/WQzA9X_zB8I/AAAAAAAAALI/2CXAT_fY7jYfsyvaV4V0C-aIIQhcjIfpgCLcB/s1600/Firewatch-Forest.jpg);
height: 100%;  background-attachment:fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }

.profile-all{ max-width:1440px; margin:0px auto; display: flex; flex-direction: row; justify-content: space-around; align-items: center; 
flex-wrap:wrap; height:650px; clear:both; 
 
background-size:1440px; background-repeat:no-repeat; color:white; }

.profile-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 0px 5px;
    }

.container-profile {
    padding: 5px 16px;
}

.description {
    color: grey;
    font-size: 18px;
    margin:5px 0px;
}
        
.container-profile h1{ border-bottom: 1px solid #d3d3d3; }
