                .profile-content-all{background-image:url(https://2.bp.blogspot.com/-Jr2iNb3SjaI/WRMF6Z_baNI/AAAAAAAAAPA/WUJqRQJPmc0VPqNNLemRRwCDs3qlCOHSQCLcB/s1600/45209001-business-wallpaper.png); background-size: cover; background-repeat: no-repeat; height: 100%; background-position: center; display:flex; flex-direction:column; align-items:center; justify-content:center; }
                
                .profile{ background-color:white; padding: 5px; transition: all .4s; border-radius: 5px; opacity: 0.9; display: flex; flex-direction: row; font-family: sans-serif; box-shadow: 1px 5px 10px #000;  }
                
                .profile img{ max-height: 220px; max-width: 220px; }
                
                .profile h1{ width: 100%; text-align: center; padding: 2px 0px; margin: 10px; border-bottom: #A4A3A3 dashed 1px; }
                .profile h2{ margin:5px; font-size: 15px;}
                .profile p{ margin:5px; }
                
                .content{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
                .content-button{ text-transform: uppercase; color: white; padding:10px 20px; width:100%; background: #0D5EAB; border:0px; cursor: pointer; transition: all .4s; }
                .content-button:hover{ background:#1372E6; } 

                .skill p{ font-family: arial; }            
            
                .container {
                width: 100%; 
                background-color: #ddd;
                font-family: arial;
                }

                .skills {
                text-align: right; 
                padding-right: 20px; 
                line-height: 40px; 
                color: white; 
                }

                .html {width: 90%; background-color: #0375AE;} 
                .css {width: 95%; background-color: #03AE2B;} 
                .js {width: 55%; background-color: #E99C02;} 
                .php {width: 35%; background-color: #B72507;} 
            
                #content {
                position: fixed; 
                display: none; 
                width: 100%; 
                height: 100%; 
                top: 0; 
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                cursor: pointer;
                }            
                #text{
                margin-top: 25%;
                margin-left: 50%;
                color: white;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                }            

                @media only screen and (min-width: 100px) and (max-width:320px) { /*500%*/
                    .profile img{ max-height:120px; max-width:120px; }
                    .profile h1{ font-size:15px; margin: 5px;}
                    .profile h2{ font-size:10px; margin:2px; }
                    .profile p{ font-size:8px; }
                    .content-button{ font-size: 7px; margin:0px; padding:7px 10px; }
                }

                @media only screen and (min-width: 320px) and (max-width:400px) { /*400%*/
                    .profile img{ max-height:150px; max-width:150px; }
                    .profile h1{ font-size:20px; }
                    .profile h2{ font-size:12px; }
                    .profile p{ font-size:10px; }
                    .content-button{ font-size: 10px; margin: 0px;  }

                }
                
                @media only screen and (min-width: 400px) and (max-width:480px) { /*400%*/
                    .profile img{ max-height:190px; max-width:190px; }
                    .profile h1{ font-size:20px; }
                    .profile h2{ font-size:12px; }
                    .profile p{ font-size:10px; }
                    .content-button{ font-size: 10px; margin: 0px;  }


                }
